body {
  color: #454545;
  font-family: "Proxima Nova", "Proxima Nova Alt", sans-serif;
  background: #f9f9f9;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #08c;
  text-decoration: none;
}

.logo {
  background: #fff;
  border-radius: 200px;
  height: 120px;
  width: 120px;
  margin: 50px auto;
  text-align: center;
  display: block;
}

.logo img {
  width: 50px;
  margin: 32px;
}

.menu {
  float: left;
  width: 20%;
  height: 100%;
  background: #5fc36b;
}

nav a {
  color: #fff;
  border-top: 2px solid #fff;
  display: block;
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 90%;
  font-weight: bold;
  font-size: 12px;
}

nav a:last-child {
  border-bottom: 2px solid #fff;
}

.content {
  padding: 50px;
  height: 100%;
  overflow: scroll;
}

.titan {
  text-color: #737373;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.titan h3 {
  color: #6B6B6B;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.jupiter .contents img{
  border-radius: 200px;
  height: 120px;
  width: 120px;
  margin-bottom: 50px;
  margin-right: 30px;
  float: left;
}
.jupiter .contents h1 {
  color: #4683C4; font-size: 24px; 
  margin: 0px auto; 
}

.jupiter .contents h2 {
 color: #272822; font-size: 12px;
 font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
 }

.jupiter .corpinfo{
  color:#3f3f3f;font-size: 11px;
  line-height: 16px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
