body {
  color: #454545;
  font-family: "Proxima Nova", "Proxima Nova Alt", sans-serif;
  background: #f9f9f9;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: #08c;
  text-decoration: none;
}

.logo {
  background: #fff;
  border-radius: 200px;
  height: 120px;
  width: 120px;
  margin: 50px auto;
  text-align: center;
  display: block;
}

.logo img {
  width: 50px;
  margin: 32px;
}

.menu {
  float: left;
  width: 20%;
  height: 100%;
  background: #5fc36b;
}

nav a {
  color: #fff;
  border-top: 2px solid #fff;
  display: block;
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 90%;
  font-weight: bold;
  font-size: 12px;
}

nav a:last-child {
  border-bottom: 2px solid #fff;
}

.content {
  padding: 50px;
  height: 100%;
  overflow: scroll;
}

.titan {
  text-color: #737373;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.titan h3 {
  color: #6B6B6B;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
}
